
      /* add styles for the header */
      .tooltip {
        font-size: 16px;
      }
      
      .fixed-top {
        /* position: fixed; */
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030
      }

      .row {
        margin-top: 100px;
      }

      #selected-indicator {
        text-align: center;
      }

      body {
          background-color: #f2f3f4;
          /*background-image: url('../data/usgs.jpg');*/
          margin: 0;
          background-size: 100%;
      }
      .head-main {
        /*background-color: darkkhaki;*/
        margin: 10px;
        text-align: center;
        background-size: cover;
        background-position: center;
        border:  none;
        outline:  none;
      }

      .nav-bar{
        display:flex;
        /* align-items: center; */
        margin-left: 100px;
        margin-right: 100px;
      }

      .navbar-brand{
        height: auto;
      }

      .navbar-brand2{
        padding-top: 15px;
        font-size: 24px;
        color: black;
        font-weight: bold;
      }

      .asu-logo-horizontal{
        width: 250px;
      }
      .asu-logo-vertical{
        width: 93px;
        height: 72px;
      }

      .tool-header{
        color: black;
        padding: 50px;
        text-align: left;
        background-image: url('/photo.jpeg');
        background-size: cover;
        background-position: center;
        border:  none;
        outline:  none;
        opacity: 1;
      }

      /* add styles for the button container */
      .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
      }

      .year{
        background-color: #edf4fb;
        border-radius: 10px;
        margin: 2px;
        padding: 10px;
        cursor: pointer;
        color: #000000ba;
        font-weight: bold;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        box-sizing: border-box;
      }

      .year.active {
        background-color: #000000ba;
        border-radius: 10px;
        margin: 2px;
        padding: 10px;
        cursor: pointer;
        color: #ffffff;
        font-weight: bold;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        box-sizing: border-box;
      }

      /* add styles for the SVG container */
      #svg-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }

      /* add styles for the buttons */
      .butt {
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.806);
        color: white;
        font-weight: bold;
        font-size: 15px;
        border: none;
        cursor:pointer;
        border-radius: 5px;
      }

      #regions + .btn-group .btn{
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.812);
        color: white;
        font-weight: bold;
        font-size: 15px;
        border: none;
        cursor:crosshair;
        border-radius: 5px;
      }

      button:hover {
        background-color: #666;
        color: white;
      }

      /* add styles for the dropdown */
      #dropdown-menu {
        padding: 10px 22px;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
      }

      #dropdown-menu:hover {
        background-color: #666666;
      }
      /* add styles for the SVG */
      svg {
        width: 960px;
        height: 600px;
        border: 3px solid rgba(0, 0, 0, 0.868);
      }

      #svg-container svg {
        background-color: white;
      }

      button {
        background-color: rgba(0, 0, 0, 0.807);
        color: white;
        font-weight: bold;
        font-size: 15px;
      }